.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: auto;
    bottom: -15%;
}

.swiper-pagination-bullet-active {
    background: #02363C;
}